@use '../globals/utilities' as util;

.articles {
    --min-width: 250px;
    --gap: var(--space-200);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
    grid-template-rows: auto auto auto auto;
    gap: var(--gap);

    @include util.breakpoint(large) {
        --gap: var(--space-300);
    }
}

.article {
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: subgrid;
    gap: var(--space-200);
}

.article__image-wrapper {
    grid-row: 1 / 2;
}

.article__image {
    height: 100%;
}

.article__text {
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: subgrid;
    gap: var(--space-50);
    padding-inline: var(--space-200);
}

.article__author {
    font-size: var(--fs-75);
}

.article__heading {
    font-size: var(--fs-125);
}

.article__preview {
    font-size: var(--fs-100);
}