@use '../globals/utilities' as util;

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    align-items: center;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding-block: var(--space-400);
    padding-inline: var(--space-200);
    
    @include util.breakpoint(large) {
        flex-direction: row;
        gap: var(--space-1500);
        padding-block: var(--space-500);
        padding-inline: var(--space-1500);
    }
}

.social-media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-300);

    @include util.breakpoint(large) {
        gap: var(--space-600);
        align-items: initial;
    }
}

.footer-logo path {
    fill: var(--clr-neutral-100);
}

.social-media {
    display: flex;
    align-items: center;
    gap: var(--space-100);
}

.social-media-icon {
    cursor: pointer;
}

.social-media-icon path {

    &:is(:hover, :focus-visible) {
        fill: var(--clr-primary-200);
        transition: 250ms ease-in-out;
    }
    
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-50);

    @include util.breakpoint(large) {
        flex-direction: row;
        gap: var(--space-1000);
        align-items: initial;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-50);

    @include util.breakpoint(large) {
        align-items: initial;
    }
}

.footer__link {

    &:is(:hover, :focus-visible) {
        color: var(--clr-primary-200);
        transition: 250ms ease-in-out;
    }
}

.copyright-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-200);

     @include util.breakpoint(large) {
        margin-inline-start: auto;
    }
}

.copyright {
    color: var(--clr-neutral-500);
}

