@use '../globals/utilities' as util;

.footer {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
}

.footer-logo path {
    fill: var(--clr-neutral-100);
}

.social-media-icon {
    cursor: pointer;
}

.social-media-icon path {

    &:is(:hover, :focus-visible) {
        fill: var(--clr-primary-200);
        transition: 250ms ease-in-out;
    }
    
}

.footer__link {

    &:is(:hover, :focus-visible) {
        color: var(--clr-primary-200);
        transition: 250ms ease-in-out;
    }
}