@use '../globals/utilities' as util;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-100);
    background-color: var(--clr-neutral-100);
    padding-inline: var(--space-200);
    
    & > * {
        padding-block: var(--space-200);

        @include util.breakpoint(large) {
            padding-block: var(--space-300);
        }
    }
}

.primary-nav__list {
    display: flex;
    align-items: center;
    gap: var(--space-300);
}

.primary-nav__item {
    position: relative;

    &:is(:hover)::after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 0;
            height: 4px;
            width: 100%;
            background-image: linear-gradient(45deg, var(--clr-primary-200), var(--clr-primary-300));
    }
}

.primary-nav__link {
    &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
    }
}

.header-btn {
    display: none;

    @include util.breakpoint(large) {
        display: inline-block;
    }
}