@use '../globals/utilities' as util;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-100);
    background-color: var(--clr-neutral-100);
    padding-inline: var(--space-200);
    
    & > * {
        padding-block: var(--space-200);

        @include util.breakpoint(large) {
            padding-block: var(--space-300);
        }
    }
}

.primary-nav {
    display: none;

    @include util.breakpoint(large) {
        display: block;
    }
}

.primary-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-200);

    @include util.breakpoint(large) {
        flex-direction: row;
        gap: var(--space-300);
    }
}

.primary-nav__item {
    position: relative;

    &:is(:hover)::after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 0;
            height: 4px;
            width: 100%;
            background-image: linear-gradient(45deg, var(--clr-primary-200), var(--clr-primary-300));
    }
}

.primary-nav__link {
    font-size: var(--fs-125);

    &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
    }

    @include util.breakpoint(large) {
        font-size: var(--fs-100);
    }
}

.header-btn {
    display: none;

    @include util.breakpoint(large) {
        display: inline-block;
    }
}

.menu-btn {
    border: transparent;
    background-color: transparent;
}

.open-btn {
    
    @include util.breakpoint(large) {
        display: none;
    }
}

.close-btn {
   display: none;
}


body:has(.open-btn[aria-expanded="true"]) {
    
    .open-btn {
            display: none;
    }

    .close-btn {
        display: block;
     }
}