@use '../globals/utilities' as util;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-100);
    background-color: var(--clr-neutral-100);
    padding-inline: var(--space-200);

    @include util.breakpoint(large) {
        padding-inline: var(--space-1500);
    }
}

.primary-nav__list {
    display: flex;
    align-items: center;
    gap: var(--space-300);
}

.primary-nav__item {
    border-bottom: 4px solid green;
    padding-block-end: var(--space-250);
}

.primary-nav__link {
    &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
    }
}

.header-btn {
    display: none;

    @include util.breakpoint(large) {
        display: inline-block;
    }
}