@use '../globals/utilities' as util;

.hero {
    --gap: var(--space-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);

    @include util.breakpoint(large) {
     flex-direction: row-reverse;
     --gap: var(--space-800);
    }
}

.hero__image {
    background-image: url('/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include util.breakpoint(large) {
        background-image: url('/images/bg-intro-desktop.svg');
    }
}

.hero__text {
    padding-block-end: var(--space-1000);
    padding-inline-start: var(--space-200);
    padding-inline-end: var(--space-200);
    text-align: center;

    @include util.breakpoint(large) {
        padding-inline-start: var(--space-1500);
        padding-inline-end: initial;
        text-align: initial;
    }
}

.main-heading {
    font-size: clamp(var(--fs-400), 2rem + 2.5vw, var(--fs-600));
}

.hero-btn {
    --flow-space: var(--space-300);

    @include util.breakpoint(large) {
        --flow-space: var(--space-350);
    }
}

.hero__tagline {
    --flow-space: var(--space-100);
    font-size: clamp(var(--fs-100), 0.93rem + 0.31vw, var(--fs-125));

    @include util.breakpoint(large) {
        --flow-space: var(--space-200);
    }
}